#container{
  width: 960px;
  margin: auto;
}
.field{
  min-height: 35px;
}
.field input[type='text']{
  width: 200px;
}
div.field label{
  width: 200px;
}

div.likes label input{
  margin: 5px;
}

div.gender label:hover, div.likes label:hover{
  background: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
}

.field .label{
  width: 30%;
  float: left;
}

.field .input{
  width: 70%;
  float: left;
}